body {
   background-color: #333333;
 }

.container {
   position: relative;
   top: 50px;
   width: 30% ;
   margin-left:  auto;
   margin-right: auto;

}
  h1{
    font-size: 40px;
    text-align: center;
    text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.neon{
  color:#FF1177;
  font-family: 'Press Start 2P';
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  }

.neon:hover{
  color:#FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none; 
}  
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}

.row1 {

  display:inline-block;
  vertical-align: top;
  text-align: center;
}
.row2{

  display:inline-block;
  vertical-align: top;
  text-align: center;
}
.row3{

  display:inline-block;
  vertical-align: top;
  text-align: center;
}

.box{
  height: 110px;
  width: 113px;
  border: 5px groove rgba(182,255,0,0.5);
  border-radius: 20px;
}
.box2{
  height: 110px;
  width: 113px;
  border: 5px groove rgba(182,255,0,0.5);
  border-radius: 20px;
}

.box2 p {
  font-family:'Press Start 2P';
  margin: 28px;
  font-size: 60px; 
  vertical-align: 
}

.options li{
  display: inline;
  text-decoration: none;
  font-family:'Press Start 2P';
  text-align: center;
  margin: 20px;
  font-size: 25px;
  color:#B6FF00;
}


